@font-face{
    font-family: 'poppins';
    src: url('simposium/font/poppins/Poppins-Regular.ttf');
    src: url('simposium/font/poppins/Poppins-Regular.ttf') format('ttf'),
        url('simposium/font/poppins/Poppins-Regular.ttf') format('truetype');
  }

  @font-face{
    font-family: 'poppins-bold';
    src: url('simposium/font/poppins/Poppins-Bold.ttf');
    src: url('simposium/font/poppins/Poppins-Bold.ttf') format('ttf'),
        url('simposium/font/poppins/Poppins-Bold.ttf') format('truetype');
  }

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'poppins';
}

.container-1{
    width: 100%;
}

.bg-container{
    width: 85%;
    display: flex;
    margin: auto;
    min-height: 100vh;
    padding: 50px 0;
    flex-direction: column;
}

.bg-container h3{
    font-family: 'poppins-bold';
}

.row a{
    text-decoration: none;
    color: black;
}

.row a:hover{
    color: black;
}

.item-website{
    border: 3px solid black;
    border-bottom: 8px solid black;
    background-color: #FFD23F;
    height: 250px;
    border-radius: 20px;
    display: flex;
    transition: 0.3s;
    margin: 20px 0;
}

.item-website:hover{
    transform: translateY(8px);
    bottom: 0;
}

.text-website{
    margin: auto;
}

.text-website p{
    font-family: 'poppins-bold';
    font-size: 20px;
}

.icon-website{
    font-size: 35px;
    margin: auto;
    display: flex;
    padding: 10px 0;
}





/* whatsapp */
.whatsapp{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

.whatsapp img{
    max-width: 80px;
    width: 100%;
}
